{% load i18n %}
{% block content %}
<div class="container">
  <div class="d-flex flex-wrap mt-5">
    {% for label in labels %}
    <span class="badge bg-secondary rounded-pill mr-2 mb-2 d-flex align-items-center">
      {{ label.name }}
      <a href="{% url 'labels:label_update' label.id %}" class="btn btn-link btn-sm ml-2 p-0">
        <i class="bi bi-pencil text-white"></i>
      </a>
      <a href="{% url 'labels:label_delete' label.id %}" class="btn btn-link btn-sm ml-2 p-0">
        <i class="bi bi-trash text-white"></i>
      </a>
    </span>
    {% empty %}
    <p>{% trans "Нет меток." %}</p>
    {% endfor %}
    <a href="{% url 'labels:label_create' %}" class="text-secondary" style="font-size: 24px; transition: color 0.3s;">
        <i class="bi bi-plus-circle"></i>
    </a>
  </div>
</div>
<div class="mb-5"></div>
{% endblock %}
